fastapi
uvicorn[standard]

pydantic
python-multipart

chromadb

sentence-transformers
transformers
huggingface-hub
torch

llama-cpp-python

pypdf
PyMuPDF

rapidocr-onnxruntime
onnxruntime

numpy
requests
tqdm
typing-extensions
